.App {
  display: block;
  text-align: center;
  padding: 10px 0;
  max-width: 500px;
  margin: 0 auto;
  border: rgb(97, 93, 93) 5px solid;
  background-image: linear-gradient(to top, #c7eaf0 0%, #a3acd6 100%);
  border-radius: 10px;
}

h5 {
  text-align: center;
  font-family: "Chivo", sans-serif;
  color: rgb(68, 65, 65);
  font-weight: bolder;
  font-size: 30px;
}

h6 {
  text-align: center;
  color: rgb(68, 65, 65);
  margin: 0px 0 15px 0;
  font-family: "Chivo", sans-serif;
  font-size: 15px;
  padding-top: 1%;
}
